main {
    padding-top: 40px;
}

.bets__actions-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}



.add-bet-btn {
    width: 200px;
    margin: 40px 0;
}

.bet__table-container {
    max-height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
}